@import (reference) '../../styles';

.@{ant-prefix}-content-switcher-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;

  h4&-header {
    margin-bottom: 0;
  }

  &-icon {
    width: 24px;
  }
}
