@import (reference) '../../styles';

.@{ant-prefix}-navigation-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  background: linear-gradient(180deg, #8E4FFF 0%, #5B12DF 100%);
  height: 100%;
  padding: 40px 24px;

  a {
    font-weight: 200;
    font-size: 24px;
    color: @white;
  }
}
