@import (reference) '../../styles';

.@{ant-prefix}-page-balance {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  &-gray-text {
    color: @gray-2;
  }

  &-footer {
    padding: 40px;
  }

  &-qr-code-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
}
