@import (reference) '../../styles';

.@{ant-prefix}-balance {
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: rgba(0, 195, 204, 0.1);
  padding: 4px 12px;
  border: 1px solid #A16DFF;
  border-radius: 8px;

  h4&-value {
    color: @cyan-base;
    margin: 0;
  }

  &-value-container {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}
