@import (reference) '../../../node_modules/antd/dist/antd.variable';

@purple-5: #FCF6FF;
@gray-2: #808080;

.@{ant-prefix}-btn {
  &-primary {
    background: linear-gradient(180deg, #A16DFF 0%, #6829D8 100%);

    &:hover {
      background: linear-gradient(180deg, #A16DFF 0%, #7742d5 100%);
    }
  }
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;
}

b, strong {
  font-weight: 500;
}

