@import (reference) '../../styles';

.@{ant-prefix}-page-my-schedule {
  &-calendar {
    text-align: center;

    &-subtext {
      color: @primary-color;
    }
  }

  &-footer {
    padding: 24px 40px;
  }
}

.ant-picker-cell-in-view.ant-picker-cell-selected-2 .ant-picker-cell-inner {
  background-color: @cyan-base;
  color: @white;
}
