@import (reference) '../../styles';

.@{ant-prefix}-countdown {
  &-start-in {
    display: flex;
    align-items: center;
    gap: 4px;

    h3.ant-typography {
      margin: 0;
      color: @primary-color;
    }

    &-text {
      color: #808080;
    }
  }
}
